.header {
 
  background-color: #000;
  color: #fff;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
 
  width: 100px;
  height: auto;
}

.search-bar {
  display: flex;
  border: none;
  width: 500px;
  align-items: center;
}

.bar {
  padding: 12px;
  width: 400px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #333;
  color: #fff;
  outline: none;
}

.search-bar button {
  background-color: #ffcc00;
  color: #000;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #ffc107;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
 

}

.nav-links li {
  margin-right: 50px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffcc00;
}