/* styles/Payment.css */




.container {
  width: 80%;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.first-row,
.second-row,
.third-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.owner,
.cvv,
.card-number {
  width: 100%;
  margin-bottom: 10px;
}

.input-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #fff;
  color: #000;
}

.input-field input::placeholder {
  color: #999;
}

.selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selection .date select {
  color: white;
}

.selection select {
  padding: 20px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000;
  color: #000;
  margin: 0 10px;
}

button {
  background-color: red;
  color: white;
  font-size: larger;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  align-self: center;
}